.btn {
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.primary {
    color: #fff;
    background-color: #007bfe;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}